<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel_Reservation_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hotel_Reservation_System.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" href="~/AdminHotel/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/AdminHotel/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/AdminHotel/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/AdminHotel/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="`/AdminHotel/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="/AdminHotel/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <link rel="shortcut icon" href="~/AdminHotel/images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- أضف هنا أي تنسيقات أو ملفات CSS خاصة بالـ Edit Profile -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/AdminHotel/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/AdminHotel/vendors/chart.js/Chart.min.js"></script>
    <script src="~/AdminHotel/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/AdminHotel/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/AdminHotel/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/AdminHotel/js/off-canvas.js"></script>
    <script src="~/AdminHotel/js/hoverable-collapse.js"></script>
    <script src="~/AdminHotel/js/template.js"></script>
    <script src="~/AdminHotel/js/settings.js"></script>
    <script src="~/AdminHotel/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/AdminHotel/js/dashboard.js"></script>
    <script src="~/AdminHotel/js/Chart.roundedBarCharts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
